@import url('http://fonts.cdnfonts.com/css/star-jedi-hollow');

body {
    background-image: url(assets/stars.jpg);
    /* background: #0e0e13; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}

h1 {
    color: #e6b93c;
    font-family: 'Star Jedi Hollow', sans-serif;
}

.boneco {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.darth-vader {
    width: 300px;
}

.cabeca {
    background: #000;
    width: 300px;
    height: 120px;
    position: absolute;
    top: 0;
}

.braco-esquerdo {
    background: #000;
    width: 100px;
    height: 160px;
    position: absolute;
    left: 0;
}

.torso {
    background: #000;
    width: 100px;
    height: 160px;
    position: absolute;
    left: 100px;
}

.braco-direito {
    background: #000;
    width: 100px;
    height: 160px;
    position: absolute;
    right: 0;
}

.perna-esquerda {
    background: #000;
    width: 155px;
    height: 160px;
    position: absolute;
    left: 0;
    top: 190px;
}

.perna-direita {
    background: #000;
    width: 155px;
    height: 160px;
    position: absolute;
    right: 0;
    top: 190px;
}

.mostrar {
    background: transparent;
}

.palavra {
    color: #e6b93c;
    font-size: 42px;
}

.letra {
    border: 1px solid #e6b93c;
}

button {
    background: linear-gradient(180deg, rgba(20,63,181,1) 0%, rgba(80,19,201,1) 35%);
    /* background: #1667BB; */
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}